@model BTL.Models.HoaDon

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa Hóa Đơn</h1>

<div>
    <table>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThanhTien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThanhTien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayThanhToan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayThanhToan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.MaKhachHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phong.MaPhong)
        </dd>
    </dl>
    </table>
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaHoaDon" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Quay Lại</a>
    </form>
</div>
<style>
    
</style>