@model BTL.Models.NhanVien

@{
    ViewData["Title"] = "Details";
}

<h1>Chi Tiết</h1>

<div>
    <h4>Nhân Viên</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sdt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sdt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tuoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tuoi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaNhanVien">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<style>
h1{
    margin-bottom:50px;
    color:rgb(58, 58, 221);
}
body{
    background-color:rgb(211, 228, 231);
}
</style>