@model IEnumerable<BTL.Models.NhanVien>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Index";
}

<h1>Quản Lý Nhân Viên</h1>

<p>
  <a class="btn btn-primary" asp-action="Create">Thêm Mới Nhân Viên</a>
</p>
<table class="table">
    <thead class="tr1">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenNV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sdt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tuoi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tuoi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaNhanVien">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.MaNhanVien">Chi Tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.MaNhanVien">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
<style>

table,th,td{
border :1px solid black;
}
h1{
    margin-bottom:100px;
    color:rgb(58, 58, 221);
    text-align:center;
}
.tr1{
    background-color:rgb(179, 145, 224);
}
body{
    background-color:rgb(218, 196, 214));
}

</style>
@using (Html.BeginForm("Index", "NhanVien", FormMethod.Get,new {id = "form1"}))
{
    <div class="row">
        <div class="col-md-11">
            @Html.PagedListPager((IPagedList) Model, page => Url.Action("Index", new {page = page,
            pageSize = ViewBag.psize}),
             new X.PagedList.Web.Common.PagedListRenderOptions { LiElementClasses = new string[] {"page-item"},
              PageClasses = new string[] { "page-link" }})

        </div>
        <div class="col-md-1">
            @Html.DropDownList("pageSize",null,new {@class="form-select"})
        </div>
    </div>
}
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
    $(document).ready(function(){
        $("#pageSize").change(function(){
            $("#form1").submit();
        });
    });
</script>